@import "tailwindcss";

@theme {
  --color-primary: #0F172A;
  --color-primary-light: #1E293B;
  --color-secondary: #06B6D4;
  --color-secondary-light: #22D3EE;
  
  --color-neutral-bg: #F8FAFC;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: white;
    color: var(--color-primary);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
